<style>
.chiquita{
  font-size: 80%
  margin-left: 30px
}
input{
  margin-left: 30px
}
</style>
<h1>Encuesta de cupones</h1>
<p>Digame usted cuál es su nombre</p>
<input>
<p class=chiquita>teniendo en cuenta esta aclaración</p><p>Digame usted cuál es su nombre</p>
<input>
<p class=chiquita>teniendo en cuenta esta aclaración</p><p>Digame usted cuál es su nombre</p>
<input>
<p class=chiquita>teniendo en cuenta esta aclaración</p><p>Digame usted cuál es su nombre</p>
<input>
<p class=chiquita>teniendo en cuenta esta aclaración</p>